<html>
<body>
    <table class="header">
        <tr>
            <td>Ticket No : @Model.Uid</td>
            <td class="bold">CinemaApp Ticket</td>
        </tr>
    </table>
    <table>
        <tr class="spacing-beween">
            <td class="cover" style="border-right: 2px dashed #000000; padding-right: 50px;">
                <img src="https://via.placeholder.com/140x180" style="padding-left: 50px;" alt="Movie cover" />
            </td>
            <td class="ticket-data" style="padding: 1rem; margin-left: 50px;">
                <p>Hall : @Model.HallNumber</p>
                <p>Seats : @Model.SeatNumber / Rows : @Model.RowNumber</p>
                <p>Date : @Model.StartTime</p>
                <h2>@Model.Title ( @Model.Language )</h2>
                <p>Duration : @Model.Duration min</p>
            </td>
        </tr>
    </table>
</body>
</html>
