.cinema-container {
    padding: 20px;
}

.seating {
    flex-grow: 1;
    margin-right: 20px;
}

.selected-seats {
    flex-shrink: 0;
    width: 30%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.seat {
    width: 30px;
    height: 30px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}


.available {
    background-image: url('../../Resources/seat.png');
}

.selected {
    background-image: url('../../Resources/seat-sel.png');
}

.unavailable {
    background-image: url('../../Resources/seat-na.png');
}

.selected-seats {
    margin-top: 20px;
}
