@model IEnumerable<CinemaApp.Application.CinemaApp.MovieDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="w-100">
    <div class="row justify-content-between mx-2">
    <div class="col-md-5 description-card">
        <h1 class="main-h">Explore the World of Big Screen Magic! 🎥</h1>
        <p class="main-text">Are you in the mood for some thrills that will grab you right from the start? For unforgettable moments that will remain deep in your memory? Imagine that you are in a comfortable chair in the cinema, surrounded by the smell of fresh popcorn, ready for an adventurous journey through the world of cinematography.</p>
    </div>
    <div class="col-md-7 list">
        <h1 class="text-light pt-3">Currently plaing</h1>
        <div class="slider-wrapper">
            <button id="prev-slide" class="slide-button material-symbols-rounded">
                <
            </button>
            <ul class="image-list">
                @foreach (var movie in Model)
                {
                    <li>
                        <a asp-controller="Movie" asp-action="Details" asp-route-encodedTitle="@movie.EncodedTitle" class="text-decoration-none">
                            <div>
                            <img class="image-item" src="https://via.placeholder.com/640x960" alt="Movie cover" />
                        </div>
                        <h2 class="title">@movie.Title</h2>
                        <h5 class="genre">@movie.Genre</h5>
                        </a>
                    </li>
                }
            </ul>
            <button id="next-slide" class="slide-button material-symbols-rounded">
                >
            </button>
        </div>
        <div class="slider-scrollbar">
            <div class="scrollbar-track">
                <div class="scrollbar-thumb"></div>
            </div>
        </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/cinemaapp/mainpage/mainpagescripts.js"></script>
}

<style>

    .description-card {
        display: flex;
        flex-direction: column;
        border: 1px solid #495057;
        border-radius: 15px;
        background: rgb(255,255,255);
        background: radial-gradient(circle at 100px 100px, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
    }

     .description-card * {
         padding: 1rem;
     }

    container {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .content {
        margin-top: 3rem;
        padding-top: 3rem;
    }

    .main-h {
        color: white;
        padding-top: 3rem;
        font-weight: bold;
    }

    .main-text {
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
        padding-top: 3rem;
        text-align: start;
    }

    .list {
        padding-left: 3rem;
    }

    .slider-wrapper {
        position: relative;
    }

        .slider-wrapper .slide-button {
            position: absolute;
            top: 50%;
            outline: none;
            border: none;
            height: 50px;
            width: 50px;
            z-index: 5;
            display: flex;
            cursor: pointer;
            font-size: 2.2rem;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transform: translateY(-50%);
        }

            .slider-wrapper .slide-button:hover {
                background: #415a77;
            }

            .slider-wrapper .slide-button#prev-slide {
                left: -25px;
                display: none;
            }

            .slider-wrapper .slide-button#next-slide {
                right: -25px;
            }

        .slider-wrapper .image-list {
            display: grid;
            grid-auto-flow: column;
            gap: 18px;
            font-size: 0;
            list-style: none;
            margin-bottom: 30px;
            overflow-x: auto;
            scrollbar-width: none;
        }

            .slider-wrapper .image-list::-webkit-scrollbar {
                display: none;
            }

            .slider-wrapper .image-list .image-item {
                width: 300px;
                height: 375px;
                object-fit: cover;
            }

    .container .slider-scrollbar {
        height: 24px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .slider-scrollbar .scrollbar-track {
        background: #ccc;
        width: 100%;
        height: 2px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        position: relative;
    }

    .slider-scrollbar:hover .scrollbar-track {
        height: 4px;
    }

    .slider-scrollbar .scrollbar-thumb {
        position: absolute;
        background: #000;
        top: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        cursor: grab;
        border-radius: inherit;
    }

        .slider-scrollbar .scrollbar-thumb:active {
            cursor: grabbing;
            height: 8px;
            top: -2px;
        }

        .slider-scrollbar .scrollbar-thumb::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -10px;
            bottom: -10px;
        }

    .title {
        padding-top: 1rem;
        color: #FFFFFF;
        font-weight: bold;
    }

    .genre {
        color: #E0E1DD;
        font-weight: 300;
    }

    /* Styles for mobile and tablets */
    @@media only screen and (max-width: 1023px) {
        .content {
            padding: 2rem 2rem 2rem 2rem;
            margin-top: 0;
            padding-top: 0;
        }

        .main-h {
            padding-top: 0;
        }

        .main-text {
            padding-top: 1rem;
        }

        .list {
            padding-left: 10px;
        }

        .slider-wrapper {
            padding-top: 1rem;
        }

            .slider-wrapper .slide-button {
                display: none !important;
            }

            .slider-wrapper .image-list {
                gap: 10px;
                margin-bottom: 15px;
                scroll-snap-type: x mandatory;
            }

                .slider-wrapper .image-list .image-item {
                    width: 280px;
                    height: 380px;
                }

        .slider-scrollbar .scrollbar-thumb {
            width: 20%;
        }
    }
</style>