@using CinemaApp.Application.CinemaApp.Commands.CreateMovie;

@model CreateMovieDetailsCommand

<h1>Create New Movie</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form action="/MovieDetails/Create" method="post">
            <div class="form-group mb-3">
                <label class="control-label" for="Title">Title</label>
                <input class="form-control" type="text" id="Title" name="Title" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Genre">Genre</label>
                <input class="form-control" type="text" id="Genre" name="Genre" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Country">Country</label>
                <input class="form-control" type="text" id="Country" name="Country" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="AgeRating">AgeRating</label>
                <input class="form-control" type="text" id="AgeRating" name="AgeRating" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Language">Language</label>
                <input class="form-control" type="text" id="Language" name="Language" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Duration">Duration</label>
                <input class="form-control" type="number" id="Duration" name="Duration" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Description">Description</label>
                <input class="form-control" type="text" id="Description" name="Description" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="ProductionYear">ProductionYear</label>
                <input class="form-control" type="date" id="ProductionYear" name="ProductionYear" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="ReleaseDate">ReleaseDate</label>
                <input class="form-control" type="date" id="ReleaseDate" name="ReleaseDate" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="StartTime">StartTime</label>
                <input class="form-control" type="datetime" id="StartTime" name="StartTime" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="HallNumber">HallNumber</label>
                <input class="form-control" type="number" id="HallNumber" name="HallNumber" />
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>