@using CinemaApp.Application.CinemaApp.Commands.CreateMovie;

@model CreateMovieCommand

<h1 class="text-light">Create New Movie</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form action="/Movie/Create" method="post">
            <div class="form-group mb-3">
                <label class="control-label text-light" asp-for="Title">Title</label>
                <input class="form-control" type="text" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label text-light" asp-for="Genre">Genre</label>
                <input class="form-control" type="text" asp-for="Genre" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label text-light" asp-for="Country">Country</label>
                <input class="form-control" type="text" asp-for="Country" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label text-light" asp-for="AgeRatingId">AgeRating</label>
                @Html.DropDownListFor(model => model.AgeRatingId, ViewBag.AgeRatingSelectList as SelectList, "-- Select Age Rating --", new { @class = "form-control" })
                <span asp-validation-for="AgeRatingId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label text-light" asp-for="Language">Language</label>
                <input class="form-control" type="text" asp-for="Language" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label text-light" asp-for="Duration">Duration</label>
                <input class="form-control" type="number" asp-for="Duration" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label text-light" asp-for="Description">Description</label>
                <input class="form-control" type="text" asp-for="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label text-light" asp-for="ReleaseDate">ReleaseDate</label>
                <input class="form-control" type="date" asp-for="ReleaseDate" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}