@using CinemaApp.Application.CinemaApp.Commands.EditMovie;
@model EditMovieCommand

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-light">Edit @Model.Title</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.HiddenFor(model => model.Title)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label text-light"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label text-light"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeRatingId" class="control-label text-light"></label>
                @Html.DropDownListFor(model => model.AgeRatingId, ViewBag.AgeRatingSelectList as SelectList, "-- Select Age Rating --", new { @class = "form-control" })
                <span asp-validation-for="AgeRatingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label text-light"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label text-light"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label text-light"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label text-light"></label>
                <input asp-for="ReleaseDate" class="form-control" type="date" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label text-light"></label>
                <input asp-for="StartTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HallNumber" class="control-label text-light"></label>
                @Html.DropDownListFor(model => model.HallNumber, (SelectList)ViewBag.HallsSelectList, "-- Select Hall --", new { @class = "form-control" })
                <span asp-validation-for="HallNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-light">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .form-group{
        padding-bottom: 1rem;
    }
</style>