@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="center-content">
    <section>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>Register</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="inputbox">
                <input type="email" asp-for="Input.Email" autocomplete="username" aria-required="true">
                <label asp-for="Input.Email">Email</label>
            </div>
            <div class="inputbox">
                <input type="password" asp-for="Input.Password" autocomplete="new-password" aria-required="true">
                <label asp-for="Input.Password">Password</label>
            </div>
            <div class="inputbox">
                <input type="password" asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true">
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            </div>
            <button class="send-button" id="registerSubmit" type="submit">Register</button>
            <div class="register">
                <p>Have already an account <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log in</a></p>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link href="~/css/identity/identitystylesheet.css" rel="stylesheet" />
}
