@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="center-content">
    <section>
        <div class="col">
            <h2 class="text-dark">The link has been sent, please check your email to reset your password.</h2>
        </div>
    </section>
</div>

@section Scripts {
    <link href="~/css/identity/IdentityStyleSheet.css" rel="stylesheet" />
}