@model CinemaApp.Domain.Entities.ForgotPasswordModel
<div class="center-content">
    <section>
        <div class="col">
            <form asp-action="ForgotPassword">
                <h2 class="text-dark">Forgot your password?</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Email">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button class="send-button" type="submit">Reset Password</button>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link href="~/css/identity/IdentityStyleSheet.css" rel="stylesheet" />
}