@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="center-content">
    <section>
        <div class="col">
            <h2 class="text-dark">Your password has been reset. Please <a asp-area="Identity" asp-page="/Account/Login">click here to log in</h2>
        </div>
    </section>
</div>

@section Scripts {
    <link href="~/css/identity/ForgotPassword.css" rel="stylesheet" />
}