@model CinemaApp.Application.CinemaApp.ResetPasswordModelDto

@{
    ViewData["Title"] = "Reset Password";
}

<div class="center-content">
    <section>
        <div class="col">
            <form asp-action="ResetPassword">
                <div class="form-floating mb-3">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Email" class="form-control" />
                <input type="hidden" asp-for="Token" class="form-control" />
                <div class="form-floating mb-3">
                    <input type="submit" value="Create" class="send-button"  />
                </div>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    <link href="~/css/identity/IdentityStyleSheet.css" rel="stylesheet" />
}