@using CinemaApp.Application.CinemaApp;
@model IEnumerable<CinemaApp.Application.CinemaApp.TicketDto>

@{
    ViewData["Title"] = "Tickets";
}

<div class="container py-3">
    <div class="row">
        <div class="col-md-4">
            <form class="form">
                <div class="input-group">
                    <input type="text" class="form-control form-input" placeholder="Search any ticket..." id="search-input">
                </div>
            </form>
            <div id="tickets-list-partial">
                <partial name="_TicketListPartial" model="@Model" />
            </div>
        </div>
        <div class="col-md-8 p-3 text-light" id="details">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Search input
        var uid = null;
        $('#search-input').on('input', function () {
            uid = $(this).val();
            updateTicketList(uid);
        });

        // Function to update the movie list based on filters and sorting
        function updateTicketList() {
            $.ajax({
                url: `/Ticket/SortTicketList/${uid}`,
                data: {
                    uid: uid
                },
                success: function (data) {
                    $('#tickets-list-partial').html(data);
                },
                error: function (xhr, status, error) {
                    toastr["error"]("An error has occurred while loading tickets");
                }
            });
        }
    </script>
}

<style>
    .input-group {
        border-radius: 10px;
        padding-bottom: 1rem;
    }

    .form-input {
        height: 45px;
        border: none;
        border-radius: 10px;
    }

        .form-input:focus {
            box-shadow: none;
            border: none;
        }
</style>
