h1 {
    font-size: 55px;
    margin-top: 3rem;
    padding-top: 3rem;
}

.genre-box {
    background-color: #415A77;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    max-width: 50%;
}

.tab-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    color: #E0E1DD;
    text-decoration: none;
    outline: none;
    transition: border-bottom 0.3s ease-in-out;
}

    .tab-button.active {
        border-bottom: 2px solid #ffffff;
        font-weight: bold;
    }

.tab-content {
    margin-top: 3rem;
}

.column-spacing {
    padding-right: 3rem;
}

.buy-button {
    margin-top: 3rem;
}

.edit-button {
    margin-top: 2rem;
}

.image-item {
    display: flex;
    padding-left: 3rem;
    padding-bottom: 3rem;
    max-height: 760px;
}

.rating-stars {
    font-size: 24px;
    color: #E0E1DD;
}

    .rating-stars .bi {
        margin-right: 5px;
    }

    .rating-stars .bi-star-fill {
        color: #E0E1DD;
    }

    .rating-stars .bi-star-half {
        color: #E0E1DD;
    }

.comment-section {
    color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
}

@@media only screen and (max-width: 1023px) {
    .row {
        --bs-gutter-x: 0;
    }

    h1 {
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .column-spacing {
        padding-right: 0;
    }

    .buy-button {
        margin-top: 0;
    }

    .edit-button {
        margin-top: 1rem;
        margin-bottom: 2rem
    }

    .image-item {
        padding-left: 0;
    }

    .comment-section {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 3rem;
    }
}
